body {
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}

